mixin hero(image, page, mobile, video)
    header(class="c-hero c--#{page}")
        div(class="c-hero__backdrop c--#{page}")
        if image
            .c-hero__image.u-justify-center
                if mobile
                    picture.a-fade-scale
                        source(srcset="../assets/images/work/#{page}/intro-#{mobile}.png" media="(max-width: 45rem)")
                        img.a-fade-scale(src="../assets/images/work/#{page}/intro.png")
                else 
                    img.a-fade-scale(src="../assets/images/work/#{page}/intro.png")
            if video
                video(autoplay loop muted class="c-hero__video u-hide")
                    source(src="../assets/images/work/ritchie-brothers/#{video}.mp4" type="video/mp4")

mixin image(layoutClasses, size, originalPath, thumbnailPath)
    .image
        figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
            a(href="#{originalPath}" itemprop="contentUrl" data-size="#{size}")
                img(class="#{layoutClasses}" src="#{thumbnailPath}" itemprop="thumbnail" alt="Image description")
                    
                    
mixin prototype(linkToPrototype, previewText, thumbnail)
    a(href="#{linkToPrototype}" class="c-prototype u-border-radius-1 u-margin-top-2 u-image-shadow-1" target="_blank")
        .c-prototype__preview-text
            span= previewText
        img(src="#{thumbnail}" class="c-prototype__thumbnail")
