extends includes/_layout

block content
    .c-hero.c--image
    .c-container.c--wide
        section.c-section.c--split
            header.c-section__header: h2 Contact
            ul.c-section__content
                li Email: <a href='mailto:#{author.email}' class='c-link'> #{author.email}</a>
                li Twitter: <a href='http://www.twitter.com/#{author.twitter}' target="_blank" class='c-link'> @#{author.twitter}</a>
                li Github: <a href='http://www.github.com/#{author.github}' target="_blank" class='c-link'> #{author.github}</a>
        section.c-section.c--split
            header.c-section__header: h2 Overview
            p.c-section__content 👋 Hello from Vancouver. I’m a designer who’s focussed on product design. I’ve worked on both web and native applications, and relish an opportunity to see a project through  from research all the way to implementation. I'm currently making things with the product team at <a class="c-link" href="http://mobify.com">Mobify</a>.

        section.c-section.c--split
            header.c-section__header: h2 Work Inquiries
            p.c-section__content I’m interested in partnerships for side projects, or smaller freelance projects. Feel free to me drop a line!
