p Hi, I’m Zach. I’m a designer with a focus on digital interaction design. I dabble in both web and iOS, furthering my passion for clean, and considered solutions. I’m currently making things with the Product Team at Mobify here in Vancouver, but I’m always up for a chat, particularly over a coffee/beer.

img(src='/img/me.png' title='Nice to meet you.' alt='A handsome picture of me.')

h2 Contact

a(href='mailto:#{author.email}') #{author.email}

ul
    li: a(href='http://www.twitter.com/#{author.twitter}') twitter
    li: a(href='http://www.github.com/#{author.github}') github
    li: a(href='http://www.rdio.com/people/#{author.rdio}') Rdio
