block content
    ul
        each project, slug in public.work._data
            unless project.isPublic != "true"
                li(class='c-work-post c--#{project.color}')
                    a(href='/work/#{ slug }')
                        .c-work-post__image
                            img(src='../assets/images/work/#{slug}/teaser.png')
                        .c-work-post__text        
                            strong.c-work-post__title= project.title
                            p.c-work-post__description= project.teaser
