extends ../_layouts/work

block prepend content
    +hero('cloud-desktop.png', 'mobify-cloud')

block content
    .u-container
        section
            header: h1 Mobify Cloud
            p Mobify Cloud is a responsive web application translated into multiple languages, and used across several countries. It’s the primary customer portal for our  customers with many functions. It serves as a development team management interface, as well as a production testing and deployment platform for mobile experiences. I've worked with the team on a multitude of features and improvements, ranging from conducting user research to high-level product direction, UI design and front-end implementation.
        
        section.u-col-2.u-margin-1
            div: img.u-fill(src="../assets/images/work/#{current.source}/problems.png")
            div: img.u-fill(src="../assets/images/work/#{current.source}/personas.png")
        
        section
            header: h2 Understanding Our Users
            p Mobify makes software that gives web development teams the ability to adapt desktop websites for mobile devices, enhancing user experience and performance. In addition to an amazing team of in-house designers and engineers doing implementations for customer websites, we also have partner organizations that do web implementations using our software.
            p We conducted interviews, crafted surveys, and organized inbound feedback, for both our internal team as well as external delivery partners. We often found a wide array of skill sets and workflows among the users and teams that used Mobify’s software to deliver for customers.

        section.u-margin-1
            div: img.u-fill(src="../assets/images/work/#{current.source}/docs.png")
        
        section    
            header: h2 Documentation And Developer Experience
            p Mobify’s business involves a supporting network of development partners for implementing customer builds with out technology. As a result of our user research efforts, we were able to apply real knowledge about our users to the design of our documentation.
            p My responsibilities for Mobify Cloud extended from research into the UI and it’s implementation. Early on in my work on Cloud I participated in a major colour palette refresh, updating our UI to match a new branding direction for the company. This involved tweaking the colour palette used in our CSS and redefining how we had been using colour to establish visual hierarchy on the page. We have a set of Sketch files built to match our UI components gives us the ability to iterate quickly towards a design and understand how it might scale across the application.
        
        section.u-margin-1
            div.u-col-2
                div: img.u-fill(src="../assets/images/work/#{current.source}/components.png")
                div: img.u-fill(src="../assets/images/work/#{current.source}/colour-palette.png")
            div.u-col-2
                div: img.u-fill(src="../assets/images/work/#{current.source}/preview.png")
                div: img.u-fill(src="../assets/images/work/#{current.source}/orgs.png")

        
        section    
            header: h2 What Did I Learn?
            p Working on a larger-scale web application was a challenging, and educational experience. I learned about the importance of balancing time spent on new features with maintenance and management of technical debt. Being the person that both designs and implements parts of the front-end, there were also many lessons around how to plan for blue sky, while keeping the focus on an MVP.
