mixin hero(image, page, mobile)
    header(class="c-hero c--#{page}")
        div(class="c-hero__backdrop c--#{page}")
        if image
            .c-hero__image.u-justify-center
                if mobile
                    picture.a-fade-scale
                        source(srcset="../assets/images/work/#{page}/intro-#{mobile}.png" media="(max-width: 35rem)")
                        img.a-fade-scale(src="../assets/images/work/#{page}/intro.png")
                else 
                    img.a-fade-scale(src="../assets/images/work/#{page}/intro.png")

mixin image(layoutClasses, size, originalPath, thumbnailPath)
    .image
        figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
            a(href="#{originalPath}" itemprop="contentUrl" data-size="#{size}")
                img(class="#{layoutClasses}" src="#{thumbnailPath}" itemprop="thumbnail" alt="Image description")
