nav
    ul
        li: a(href='https://open.spotify.com/user/#{author.spotify}' target="_blank") Spotify
        li: a(href='http://www.twitter.com/#{author.twitter}' target="_blank") Twitter
        li: a(href='https://www.instagram.com/#{author.instagram}' target="_blank") Instagram
        li: a(href='http://www.github.com/#{author.github}' target="_blank") Github
        li: a(href='https://ca.linkedin.com/in/#{author.linkedin}' target="_blank") LinkedIn
